.form-contactUs {
  padding: 10% 15%;
}

.form-contactUs::before {
  background-image: url("../../img/form-background.png");
  background-repeat: no-repeat;
  content: "";
  position: absolute;
  background-size: 100%;
  filter: brightness(51%);
  top: 161px;
  left: 0;
  width: 100%;
  height: 1070px;
  z-index: -1;
}

.form-title {
  display: flex;
  flex-direction: column;
}

.form-title > p {
  letter-spacing: 5px;
  color: white;
  font-size: 1.4vw;
  font-family: sans-serif;
}

.form-message {
  display: flex;
  font-size: 4.1vw;
  font-weight: 400;
  color: white;
  font-family: sans-serif;
  margin: 15px 0;
}

.form-message * {
  margin: 0 0;
}

.form-message p:nth-child(2) {
  margin-left: 10px;
  font-weight: bold;
}

.container-inputs > input {
  height: 50px;
  color: black;
  padding: 0 25px;
  background-color: #ffffffd1;
  border: 1px solid black;
}

.yousMessage {
  grid-column: 1 / span 2;
  height: 150px;
  border: 1px solid black;
  width: 100%;
  background-color: #ffffffd1;
  padding: 3%;
}

.container-inputs {
  display: grid;
  column-gap: 35px;
  row-gap: 30px;
}

.formButton {
  padding: 15px;
  grid-column: 1 / span 2;
  border-radius: 50px;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  margin-right: auto;
  font-size: 1.5vw;
  background: linear-gradient(to bottom right, #ff3e00de, #ffbe30db) !important;
  margin-left: auto;
}
