* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* fonts */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');

html {
  font-size: 100%;
}

:root {
  /* colors */
  --darkOrange: rgba(253, 93, 14, 255);
  --lightOrange: rgba(244, 170, 47, 255);
  --white: rgba(246, 245, 239, 255);
  --gray: rgb(243, 234, 234);
   --darkGray: rgb(116, 111, 111);
  --black: rgb(37, 35, 35);

  /* rest of the vars */
  --borderRadius: 15px;
  --letterSpacing: 1px;
  --wordSpacing: 2px;
  --transition: 0.3s ease-in-out all;
  --max-width: 1120px;
  --fixed-width: 600px;
}

body {
  font-family: 'Roboto', sans-serif;
  word-spacing: var(--wordSpacing);
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  width: 100%;
}

/* loading */

.loader,
.loader:before,
.loader:after {
  background: transparent;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: var(--lightOrange);
  text-indent: -9999em;
  margin: 88px auto;
  margin-top: 20rem;
  position: relative;
  font-size: 3rem;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {

  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}