.login-container {
  display: flex;
  justify-content: center;
  background-image: url("../../img/slider-bg3.jpg");
}

.login-box {
  background: linear-gradient(90deg, rgb(253 36 14 / 62%) 0%, rgb(244 156 47 / 62%) 100% );
  width: 45%;
  padding: 5% 0;
  border-radius: 15%;
}

.login-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-title > p {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-family: sans-serif;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.login-form > input {
  height: 50px;
  width: 410px;
  border-radius: 50px;
  border: none;
  margin-top: 25px;
  padding: 0px 25px;
  background-color: #f7f7f7;
}

.login_button_link {
  display: flex;
  justify-content: center;
}

.login_button_link > button {
  margin: 15px;
  width: 100%;
  padding: 12px 86px;
  color: #f97f1d;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;

}

.login-form > button {
  color: #f97f1d;
  margin: 15px;
  font-size: 18px;
  font-weight: bold;
  font-family: sans-serif;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
}
