.form-contactUs {
  margin: 70px 0px 100px 210px;
}

.form-title {
  display: flex;
  flex-direction: column;
}

.form-title>p {
  margin-bottom: 15px;
  letter-spacing: 5px;
  color: #878787;
  font-size: 18px;
  font-family: sans-serif;
}

.form-messige {
  display: flex;
  font-size: 48px;
  font-weight: 400;
  margin-top: 0px;
  color: #333333;
  font-family: sans-serif;
}
select {
   color: #333333;
}
.form-messige * {
  margin: 0px 0px;
}

.form-messige p:nth-child(2) {
  padding-left: 10px;
  font-weight: bold;
}

.container-inputs>input {
  height: 50px;
  padding: 0px 25px;
  background-color: #f7f7f7;
  border: 1px solid #f0f0f0;
}

.yousMessage {
  width: 1170px;
}

.container-inputs {
  display: grid;
  grid-template-columns: 570px 570px;
  grid-template-rows: auto;
  column-gap: 35px;
  row-gap: 30px;
}

.yousMessage {
  grid-column: 1 / span 2;
  height: 150px;
  background-color: #f7f7f7;
  border: 1px solid #f0f0f0;
}

.formButton {
  grid-column: 1 / span 2;
  margin: 0px 409px;
  height: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 16px;
  background: linear-gradient(to bottom right, #ff3e00, #ffbe30) !important;
}