.event-container {
  /* height: 40vh; */
  background-color: var(--gray);
  padding: 3% 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

}

.event-box {
  width: 30%;
  height: 480px;
  margin: 2% 0;
  -webkit-box-shadow: 9px 12px 20px -14px rgba(0, 0, 0, 0.6);
  box-shadow: 9px 12px 20px -14px rgba(0, 0, 0, 0.6);
}

.img-container {
  width: 100%;
  height: 250px;
  position: relative;
}

.img-container img {
  width: 100%;
  height: 100%;
  display: block;
}

.date-info {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  background-color: var(--lightOrange);
}

.date-info p {
  text-align: center;
  padding: 3px;
}

.info-container {
  padding: 2% 4%;
  position: relative;
}

.info-container h1 {
  color: var(--black);
  letter-spacing: var(----letterSpacing);
  margin: 4px 0 8px;
}

.info-container h3 {
  color: var(--lightOrange);
  margin-bottom: 15px;
}

.info {
  margin: 8px 0;
}

.info-logo {
  color: var(--lightOrange);
  margin: 0 10px;
}

.info-btn {
  background-color: var(--lightOrange);
  padding: 10px 30px;
  border-radius: 30px;
  color: var(--white);
  margin: 10px 25%;
}

button {
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

button:active {
  transform: scale(0.98);
  color: var(--lightOrange);
  background-color: var(--white);
}

.like-container {
  position: relative;
  width: 30px;
  height: 30px;
  text-align: center;
  font-size: 30px;
  position: absolute;
  bottom: 20px;
  right: 15%;
  z-index: 3;
  cursor: pointer;
}

.details-container section{
  width: 45%;
  padding: 20px;
  margin: 2% auto;
 box-shadow: -1px 3px 11px 1px rgba(0, 0, 0, 0.67);
}
.details-container h1{
  color: var(--darkOrange);
  text-align: center;
  padding: 10px;
}
.details-container p, address{
  color: var(--darkGray);
  padding: 10px;
}
.details-container button{
    margin: 3% 35%;
     border-radius: 50px;
     border: none;
     color: white;
     font-family: sans-serif;
     font-weight: bold;
     font-size: 16px;
     background: linear-gradient(to bottom right, #ff3e00, #ffbe30) !important;
}
/* .heart{
 color: red;
} */