@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

.image_section{
    background-image: url(../../img/img_about.jpg);
    height: 300px;
    background-position: center;
    background-repeat: no-repeat;
    letter-spacing: .6px;


}
.image_section_op{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--white);
    background-color: rgba(20, 20, 20, 0.6);
}
.image_section_container{
    height: 200px;
    display: flex;
    flex-direction: column;
}

.small_title{
    color: #ffffff;
    margin-bottom: 15px;
    letter-spacing: 0.35vw;
    font-size: 1vw;
    text-transform: uppercase;
}

.big_title strong{
    font-weight: 900;
    color: #ffbe30;
}

.big_title{
    margin: 0px;
    font-size: 2.2vw;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 500;

}

.image_section_list{
    margin-top: 15px;

}
.image_section_list ul{
    padding: 0px;
    margin: 0 auto;
    display: table;
    font-size: 1vw
}

.list_home{
    float: left;
    list-style: none;
    position: relative;
    margin-right: 30px;
    padding-right: 30px;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;
    transition: color 0.75s;

}
.list_home a{
    color: var(--white);
    transition: color 0.75s;
}
.list_home a:hover{
    color: #ffbe30;

}

.list_home::before{
    top: 0;
    bottom: 0;
    right: -5px;
    margin: 0px;
    padding: 0px;
    content: '|';
    font-weight: 700;
    position: absolute;
    color: #ffffff;
}

.list_about{
    margin-right: 0px;
    padding-right: 0px;
    float: left;
    list-style: none;
    position: relative;
    /* margin-right: 30px; */
    padding-right: 30px;
    color: #ffffff;
    display: inline-block;
    text-transform: capitalize;
    font-weight: 700;

}


.our_management_section{
    letter-spacing: .6px;

    width: 100%;
    height: 500px;
    background-color: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;

}
.management_container{
    width: 70%;
    height: 70%;
    display: flex;
    justify-content: space-around;
    
}
.section_title{
    width: 30%;
}

.section_small_title{
    margin-bottom: 15px;
    letter-spacing: 5px;
    color: #878787;
    font-size: 1vw;
    text-transform: uppercase;
}

.section_big_title{
    margin: 0px;
    padding: 0px;
    font-size: 3vw;
    font-weight: 400;
    color: #333333;
}

.section_big_title strong{
    font-weight: 900;
}


.managment_section_button{
    height: 40%;
    align-items: center;
    display: flex;
}


.managment_section_button button{
    width: 44%;
    border: none;
    margin: 10px;
    font-weight: 800;
    padding: 15px 35px;
    text-align: center;
    border-radius: 50px;
    font-size: 14px;
    text-transform: uppercase;
    background: rgb(255,66,2);
    background: linear-gradient(349deg, rgba(255,66,2,1) 0%, rgba(255,182,45,1) 100%);
    color: #ffffff !important;
    font-size: 0.6vw
    
}


.managment_section_button button:hover{
    background: rgb(255,182,45);
    background: linear-gradient(342deg, rgba(255,182,45,1) 0%, rgba(255,66,2,1) 100%);
}

.management_item{
    width: 25%;
}
.item_title{
    margin-bottom: 30px;
}
.item_title_text{
    margin: 0px;
    display: table;
    font-weight: 900;
    position: relative;
    padding-right: 60px;
    font-size: 1.25vw;
}

.item_title_text::after{
    right: 0;
    bottom: 6px;
    height: 5px;
    width: 50px;
    content: '';
    position: absolute;
    background-color: #ffbe30;
}

.management_item_title{
    margin-bottom: 20px;
    color: #7B7B7B;
    font-family: 'Open Sans', sans-serif;
    font-size: 0.85vw;

}

.management_item_title2{
    color: #333333;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 900;
    font-size: 0.85vw;

}

.awards_section{
    
    width: 100%;
    height: 807px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px;
    letter-spacing: .6px;


}

.awards_section_container{
    width: 63%;
    height: 75%;
    display: flex;
}

.awards_section_image{
    width: 50%;
}

.awards_section_image img{
    width: 95%;
    height: 91%;
}

.winning_awards{
    width: 50%;
}

.winning_awards_title{
   margin-bottom: 55px;
}


.awards_small_title{
    margin-bottom: 15px;
    letter-spacing: 0.2vw;
    color: #878787;
    font-size: 1vw;
    text-transform: uppercase;
}

.awards_big_title{
    margin: 0px;
    padding: 0px;
    font-size: 2.7vw;
    font-weight: 400;
    color: #333333;
}

.awards_big_title strong{
    font-weight: 900;
}

.award_item_area{
    position: relative;
    width: 100%;
    height: 70%;
}

.award_item_area::before {
    top: 0;
    bottom: 0;
    left: 13px;
    width: 2px;
    content: '';
    height: 100%;
    position: absolute;
    background-color: #878787;
}

.arrow_up{
    position: absolute;
    z-index: 2;
    top: -22px;
    color: #878787;
    font-size: 30px;
}

.arrow_down{
    position: absolute;
    z-index: 2;
    color: #878787;
    font-size: 30px;
    bottom: -22px;

}

.award_wrapper{
    max-height: 425px;
    overflow-y: scroll;
    position: relative;
    -ms-overflow-style: none;
}

.award_wrapper::-webkit-scrollbar{
     width: 0 !important 
}

.award_item{
    padding: 30px 0px;
    position: relative;
    padding-left: 120px;
}

.award_title{
    font-weight: 700;
    position: relative;
    font-size: 1.3vw;
}

.award_date{
    top: 5px;
    left: -105px;
    padding-left: 10px;
    position: absolute;
    padding-bottom: 10px;
    color: #ffbe30;
    font-size: 0.9vw;
    text-transform: uppercase;
}

.award_date::before {
    left: -6px;
    z-index: 1;
    content: '';
    width: 10px;
    bottom: -4px;
    height: 10px;
    position: absolute;
    border-radius: 100%;
    background-color: #ffbe30;
}

.award_date::after {
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    height: 2px;
    width: 100%;
    position: absolute;
    background-color: #878787;
}

.m-0{
    font-size: 0.8vw;
    width: 84%;
    margin-top: 5px;
}