.search-container {
  height: 40vh;
  background: linear-gradient(90deg, rgba(253, 93, 14, 255) 0%, rgba(244, 170, 47, 255) 100%);
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  padding: 0 10%;
  color: var(--white);
}

.search-title {
  width: 25%;
}

.search-form {
  width: 75%;
}

.search-form input,
select,
button {
  width: 30%;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: var(--white);
  padding: 12px 20px;
  outline: none;
  border: none;
  margin:5px
}

.search-form button {
  background-color: var(--darkGray);
}